body {
    font-family: 'Courier New', Courier, monospace;
    background-color: beige;
}

h1 {
    text-align: center;
}

#center-div {
    text-align: center;
    margin: 20px;
}

ul {
    display: inline-block;
    list-style: none;
    text-align: left;
}

li {
  margin-bottom: 20px;
}

.link-as-button {
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 5px 20px;
}

.link-as-button:hover{
    background-color: #333333;
    color:#EEEEEE;
}

#recipe-card{
    text-align: center;
    background-color: bisque;
    border-radius: 20px;
    margin: 0 auto;
    padding: 10px 30px;
    width: 40%;
}

ol {
    display: inline-block;
    text-align: left;
    list-style-position: inside;
}

#recipe-info{
    margin: 0 auto;
    width: 70%;
}